$colormenu: rgb(43, 41, 48);
$font-family: 'Roboto', sans-serif; 

@mixin texto{
    text-align: center;
    font-family: $font-family;
    font-size: 16px;
    color: rgb(139, 139, 139)

}

@mixin titulo {
    font: {
        family:$font-family;
        size: 40px;
    }
}

/* NAV */
.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
  
.navbar {
    background-color: black;
    .nav-item {
        .nav-link {
            color: rgb(179, 179, 179);
            font-family: 'Roboto', sans-serif;
        }
    }
}

/* BODY */
body {
    background-color: rgb(255, 255, 255);
}

/* HEADER */
.main-header{
    background: url(../imagenes/foto-home.jpg);
    background-size: cover;
    
   @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

   .btn{
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
   }
}

.background-overlay {
    background: rgba(0, 0, 0, 0.4);
}

/* PAGE ABERTURAS*/
.title-aberturas{
    padding-top: 4rem;
    padding-left: 6rem;
    font-family: $font-family;
    text-align: left;
}

.aberturas{
    display: flex;
    justify-content: space-between;
    justify-content: center;
}
.img-fluid{
    height: auto;
}

/* PAGE CALIDAD */
.carousel-inner img {
    width: 100%;
    margin: {
        top: 50px;
        bottom: 50px;
    }
     transition: 0.5s;   
 }

 p{
    font-family: $font-family;
 }

 h2{
     font-family: $font-family;
 }

.img-calidad{
    height: 60rem;
}

.img-aluar{
    height: 40rem;
}


         
/* PAGE EMPRESA */

.showcase {
    padding: {
        top: 80px;
        bottom: 80px;
        transition: 2s;
    }

    .showcase-text {
        padding: 3rem;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .showcase-img {
        min-height: 30rem;
        background-size: cover;
        min-height: 360px;
        min-width: 564px;
        transition: 2s;
    }
}

/* CONTACTO */

.title-contact{
    text-align: left;
    font-family: $font-family;
}

.icon-contact{
    padding-bottom: 2rem;
    padding-left: 10%;
    padding-top:2rem;
    align-self: center;
}

.input-group{
    font-family: $font-family;
}

/* FOOTER  */

.footer.footer {
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: black;
 
   .social-link {
        display: block;
        text-decoration: none;
        height: 4rem;
        width: 4rem;
        line-height: 4.3rem;
        font-size: 1.5rem;
        background-color: rgb(201, 201, 201);
        transition: background-color 0.15s ease-in-out;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
    }

    .social-link:hover {
        background-color: rgb(80, 152, 219);
        text-decoration: none;
    }
}
