/* BODY */
/* NAV */
.navbar {
  background-color: black;
}
.navbar .nav-item .nav-link {
  color: #b3b3b3;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: white;
}

/* HEADER */
.main-header {
  background: url(../imagenes/foto-home.jpg);
  background-size: cover;
  @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
}
.main-header .btn {
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
}

.background-overlay {
  background: rgba(0, 0, 0, 0.4);
}

/* MAIN */
/* no va mas 
.menu {
    background-color: $colormenu;
    width: auto;
    height: 60px;
    position: fixed;
    position: center;
    z-index: 0;
    top: 20px;
    right: 20px;
    left: 20px;
    font-size: 0;
    overflow: hidden;    
    padding: {
        top: 15px;
        bottom: 10px;
    }

    .menu__logo{
        height: 50px;
        margin-top: 2.5px;
    }

    .menu__secciones{
        margin: {
        left: 750px;
        top: -35px;
        right: 30px
        }

        display: flex;

        justify: {
        content: flex-end;
        content: space-between; 
        }
}

    a{
        color: rgb(226, 226, 226);
        text-decoration:none;

        font: {
        family: 'Roboto', sans-serif; 
        size: 16px; 
        }
    }

    a:hover{
        color: rgb(93, 165, 233);
    }
}

*/
/* PAGE ABERTURAS*/
.title-aberturas {
  padding-top: 4rem;
  padding-left: 8rem;
}

.aberturas {
  display: flex;
  justify-content: space-between;
  justify-content: center;
}

/* PAGE CALIDAD */
.carousel-inner img {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 50px;
  transition: 1s;
}

.titlinea {
  margin-top: 120px;
  height: 50px;
  background-color: #2b2930;
  color: white;
  text-align: center;
  padding-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
}

.fotolinea {
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  height: 400px;
}

.textlinea {
  margin-top: 50px;
  margin-left: 300px;
  margin-right: 200px;
  margin-bottom: 50px;
  width: 60%;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #8b8b8b;
}

/* PAGE EMPRESA */
.showcase {
  padding-top: 80px;
  padding-bottom: 80px;
}
.showcase .showcase-text {
  padding: 3rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
  min-height: 360px;
  width: 564px;
  transition: 2s;
}

/*  
.fotoempresa{

    float: left;
    margin: {
    right: 100px;
    bottom: 50px;
    left: -100px;
    }
    transition: 2s;
}


.contenidoempresa{

    align-content: center;
    align-items:center;
    margin: {
        top:100px;
}

    .tituloempresa{
        display: flex;
        justify-content: center;
        margin: {
        bottom: 30px;
        right: 160px;
        padding-bottom: 20px;
        padding-top: 20px;
        text-align: center;
        @include titulo();
    }

    .textoempresa{
        line-height: 20px;
        width: 80%;
        margin-left: 120px;
        @include texto()
    }

}
*/
/* CONTACTO */
.title-contact {
  text-align: left;
  font-family: "Roboto", sans-serif;
}

.icon-contact {
  padding-bottom: 2rem;
  padding-left: 10%;
  padding-top: 2rem;
  align-self: center;
}

.input-group {
  font-family: "Roboto", sans-serif;
}

/*  
.titulocontacto{
    margin:  {
    top: 100px;
    left: 120px;
    }
    @include titulo();
}



.form-group {
    color: rgb(103, 103, 104);
    font-size: 16px;
    font-family: $font-family;
    position: relative;

}

button{
    transition: 5s;
}

*/
/* FOOTER  */
.footer.footer {
  padding-top: 3rem;
  padding-bottom: 2rem;
  background-color: black;
}
.footer.footer .social-link {
  display: block;
  text-decoration: none;
  height: 4rem;
  width: 4rem;
  line-height: 4.3rem;
  font-size: 1.5rem;
  background-color: #c9c9c9;
  transition: background-color 0.15s ease-in-out;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.footer.footer .social-link:hover {
  background-color: #5098db;
  text-decoration: none;
}/*# sourceMappingURL=estilo.css.map */